.jumbotron {
  background-color: #5B72E8;
  color: #fff;
  padding: 35px;
}

.jumbotron h1 {
  font-size: 128px;
  font-family: 'Satisfy', cursive;
  text-shadow: 3px 3px #2B366E;
}

.jumbotronBottom {
  background-color: #000;
  color: #fff;
  /*padding: 20px;*/
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.inputWidth {
  width: 400px;
  padding-left: 30px;
}

.form-control {
  margin-bottom: 20px;
}

 h4 {
  margin-bottom: 30px;
}

#beginnerLeftSpacer {
  margin-left: 3px;
}

#beginnerRightSpacer {
  margin-right: 10px;
}

#rightSpacer {
  margin-right: 10px;
}

.btn-custom {
  text-align: center;
  margin-top: 35px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 24px;
  background-color: #1DA883;
  color: #fff;
}
